.full-page-container {
  margin: 0px 0px;
  padding: 80px 2.5% 30px 2.5%;
  width: 100%;
  min-height: 100vh;
  background-color: #f3f2ef;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-left-side{
  width: 20%;
}
.page-center-side{
  width: 60%;
}
.page-right-side{
  width: 20%;
}