.profile-dropdown-menu {
  position: absolute;
  top: 55px;
  right: 0;
  background: #1d2226;
  color: #ffffff;
  width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  z-index: 1000;
  padding: 10px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.profile-dropdown-menu.open {
  opacity: 1;
  transform: translateY(0);
}

.profile-dropdown-info {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile-dropdown-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.profile-dropdown-details {
  flex: 1;
}

.profile-dropdown-name {
  font-weight: bold;
  margin: 0;
  color: #ffffff;
}

.profile-dropdown-title {
  color: #b0b0b0;
  margin: 0;
}

.profile-dropdown-view-profile {
  display: block;
  width: 100%;
  background-color: transparent;
  color: #0073b1;
  padding: 5px 0;
  text-align: center;
  border: 1px solid #0073b1;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
}

.profile-dropdown-view-profile:hover {
  background-color: #005582;
  color: #ffffff;
}

.profile-dropdown-menu-section {
  border-top: 1px solid #373a3d;
  margin: 7px 0;
  padding: 10px;
}

.profile-dropdown-menu-section p {
  margin: 0 0 5px 0;
  font-weight: bold;
  color: #ffffff;
}

.profile-dropdown-menu-section a {
  font-size: 15px;
  display: block;
  color: #b0b0b0;
  text-decoration: none;
  padding: 3px 0;
}

.profile-dropdown-menu-section a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.profile-dropdown-signout-button {
  font-size: 15px;
  width: 100%;
  border: none;
  padding: 10px;
  text-align: left;
  color: #b0b0b0;
  text-decoration: none;
  border-top: 1px solid #373a3d;
  background-color: transparent;
  cursor: pointer;
}

.profile-dropdown-signout-button:hover {
  text-decoration: underline;
}
